@plugin 'daisyui/theme' {
	name: 'light';
	default: true;
	prefersdark: false;
	--color-base-100: oklch(100% 0 0);
	--color-base-200: oklch(93% 0 0);
	--color-base-300: oklch(86% 0 0);
	--color-base-content: oklch(35.519% 0.032 262.988);
	--color-primary: oklch(0.637 0.237 25.331);
	--color-primary-content: oklch(0.971 0.013 17.38);
	--color-secondary: oklch(61.302% 0.202 261.294);
	--color-secondary-content: oklch(100% 0 0);
	--color-accent: oklch(72.772% 0.149 33.2);
	--color-accent-content: oklch(0% 0 0);
	--color-neutral: oklch(35.519% 0.032 262.988);
	--color-neutral-content: oklch(98.462% 0.001 247.838);
	--color-info: oklch(72.06% 0.191 231.6);
	--color-info-content: oklch(0% 0 0);
	--color-success: oklch(64.8% 0.15 160);
	--color-success-content: oklch(0% 0 0);
	--color-warning: oklch(84.71% 0.199 83.87);
	--color-warning-content: oklch(0% 0 0);
	--color-error: oklch(71.76% 0.221 22.18);
	--color-error-content: oklch(0% 0 0);
	--radius-selector: 1rem;
	--radius-field: 0.5rem;
	--radius-box: 1rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 0;
	--noise: 0;
}

@plugin 'daisyui/theme' {
	name: 'dark';
	default: false;
	prefersdark: true;
	--color-base-100: oklch(0% 0 0);
	--color-base-200: oklch(19% 0 0);
	--color-base-300: oklch(22% 0 0);
	--color-base-content: oklch(87.609% 0 0);
	--color-primary: oklch(0.637 0.237 25.331);
	--color-primary-content: oklch(0.971 0.013 17.38);
	--color-secondary: oklch(35% 0 0);
	--color-secondary-content: oklch(100% 0 0);
	--color-accent: oklch(35% 0 0);
	--color-accent-content: oklch(100% 0 0);
	--color-neutral: oklch(35% 0 0);
	--color-neutral-content: oklch(100% 0 0);
	--color-info: oklch(45.201% 0.313 264.052);
	--color-info-content: oklch(89.04% 0.062 264.052);
	--color-success: oklch(51.975% 0.176 142.495);
	--color-success-content: oklch(90.395% 0.035 142.495);
	--color-warning: oklch(96.798% 0.211 109.769);
	--color-warning-content: oklch(19.359% 0.042 109.769);
	--color-error: oklch(62.795% 0.257 29.233);
	--color-error-content: oklch(12.559% 0.051 29.233);
	--radius-selector: 0rem;
	--radius-field: 0rem;
	--radius-box: 0rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 0;
	--noise: 0;
}
